Source: pbzip2
Section: utils
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: debhelper-compat (= 12), libbz2-dev
Standards-Version: 4.4.0
Homepage: https://launchpad.net/pbzip2/
Vcs-Browser: https://salsa.debian.org/wg-guest/pbzip2
Vcs-Git: https://salsa.debian.org/wg-guest/pbzip2.git

Package: pbzip2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: parallel bzip2 implementation
 pbzip2 is a parallel implementation of the bzip2 block-sorting file
 compressor that uses pthreads and achieves near-linear speedup on SMP
 machines. The output of this version is fully compatible with bzip2
 v1.0.2 (ie: anything compressed with pbzip2 can be decompressed with
 bzip2).
